# Server configurations
API_V1_STR=/api/v1
PROJECT_NAME="Primer Backend"

# Security (Change these in production!)
SECRET_KEY=y0ur_super_secret_key_123!
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=30

# OAuth2 (GitHub/Google - Leave empty for local development simulations)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
# Default docker-compose mapped path: postgres:15-alpine driver: postgresql+asyncpg
DATABASE_URL=postgresql+asyncpg://primer_user:primer_password@localhost:5432/primer_db

# Caching & State
REDIS_URL=redis://localhost:6379/0

# NATS Event Bus
NATS_URL=nats://localhost:4222
FRONTEND_URL="http://localhost:5173"
